# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
dump.rbd

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
.tags
.tags_sorted_by_file
public/assets
public/excel
public/uploads/*
!public/excel/export/.keep
!public/assets/fonts/*
!public/assets/img/*
.idea/
config/database.yml
config/elasticsearch.yml
config/secrets.yml

lib/study.rb

.DS_Store
*.swp
*.orig
*.rdb
.rvmrc
