<div class="ui grid">
  <div class="left floated fourteen wide column">
    <h2><a href="javascript:history.back()"><i class="blue reply icon"></i></a>新建文章</h2>
  </div>
</div>
<%= render 'form', url: admin_articles_path, meth: :post %>
