<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>网站简介</h3>
            <p class="am-text-sm">schooltop是一个致力于分享展示K12儿童教育的平台。
            <br> 让您更懂您的孩子，让更多人了解孩子的世界！<br><br>
            </p> 
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>服务合作</h3>
            <p>K12儿童教育分享平台，只要您是致力于儿童教育的企业，欢迎您联系我们，免费提供展示服务。<%= qq_link("107422244") %></p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>合作伙伴</h3>
            <p>
                <a href="http://wh.tantujiaoyu.cn/School/3007?baiduPC"><span>(武汉)蕃茄田艺术中心</span></a>
            </p>
        </div>

    </div>    
    <div class="blog-text-center">© 2018 wuhan Confused</div>    
</footer>


  