<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>网站简介</h3>
            <p class="am-text-sm">展示作品
            <br> 分享评论<br><br>
            </p> 
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>Credits</h3>
            <p>在这里我将分享一些自己的想法和创作 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>合作伙伴</h3>
            <p>
                <a href=""><span>蕃茄田艺术中心</span></a>
            </p>
        </div>

    </div>    
    <div class="blog-text-center">© 2018 wuhan Confused</div>    
  </footer>


  